<ion-header>

    <ion-navbar>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
      <ion-title>Prêt livre  <ion-icon name="book"></ion-icon></ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>{{ book.titre  }}</ion-card-header>
      <ion-card-content>
       <p>Auteur: {{book.auteur}}</p>
       <p>ISBN: {{book.isbn}}</p>
       <p>Pages: {{book.nbrePage}}</p>
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button full color="danger"
            [disabled]="book.isLend" (click)="onLend()">Rendre</button>
          </ion-col>
          <ion-col>
            <button ion-button full color="primary"
            [disabled]="!book.isLend" (click)="onLend()">Prêter</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>