<ion-header>

    <ion-navbar>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
      <ion-title>Prêt CD  <ion-icon name="disc"></ion-icon></ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>{{ cd.album  }}</ion-card-header>
      <ion-card-content>
       <p>Auteur: {{cd.auteur}}</p>
       <p>Durée: {{cd.duree}}</p>
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button full color="danger"
            [disabled]="cd.isLend" (click)="onLend()">Rendre</button>
          </ion-col>
          <ion-col>
            <button ion-button full color="primary"
            [disabled]="!cd.isLend" (click)="onLend()">Prêter</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>