<ion-header>
    <ion-navbar>
            <ion-buttons start>
                    <button ion-button icon-only (click)="onToggleMenu()">
                      <ion-icon name="menu"></ion-icon>
                    </button>
              </ion-buttons>
        <ion-title>
            Livres
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
         <button ion-item *ngFor="let book of booksList; let i= index"
          (click)="onLoadBook(i)" [color]="book.isLend? 'secondary':'light'">
          <ion-icon name="book"></ion-icon>
          {{ book.titre }}
        </button>
   
    </ion-list>
  </ion-content>