<ion-header>
    <ion-navbar>
            <ion-buttons start>
                    <button ion-button icon-only (click)="onToggleMenu()">
                      <ion-icon name="menu"></ion-icon>
                    </button>
              </ion-buttons>
        <ion-title>
            CD
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
         <button ion-item *ngFor="let cd of cdsList; let i= index"
          (click)="onLoadCd(i)" [color]="cd.isLend? 'secondary':'light'">
          <ion-icon name="disc"></ion-icon>
          {{ cd.album }}
        </button>
   
    </ion-list>
  </ion-content>